rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /eventos/{eventoId} {
      allow read: if request.auth != null;
      allow create, delete: if false;
      allow update: if request.auth != null
        && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['inscritos'])
        && request.resource.data.inscritos is int
        && request.resource.data.inscritos >= 0
        && request.resource.data.inscritos <= resource.data.limiteVagas
        && (
          request.resource.data.inscritos == resource.data.inscritos + 1
          || request.resource.data.inscritos == resource.data.inscritos - 1
        );
    }

    match /eventos/{eventoId}/comentarios/{comentarioId} {
      allow read: if request.auth != null;

      allow create: if request.auth != null
        && request.resource.data.autorId == request.auth.uid;

      allow update: if request.auth != null
        && resource.data.autorId == request.auth.uid
        && request.resource.data.autorId == resource.data.autorId
        && request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(['texto', 'editadoEm']);

      allow delete: if request.auth != null
        && resource.data.autorId == request.auth.uid;
    }

    match /eventos/{eventoId}/avaliacoes/{usuarioId} {
      allow read: if request.auth != null;

      allow create, update: if request.auth != null
        && request.auth.uid == usuarioId
        && request.resource.data.usuarioId == request.auth.uid
        && request.resource.data.nota is int
        && request.resource.data.nota >= 1
        && request.resource.data.nota <= 5
        && exists(
          /databases/$(database)/documents/usuarios/$(request.auth.uid)/inscricoes/$(eventoId)
        );

      allow delete: if false;
    }

    match /usuarios/{userId}/inscricoes/{eventoId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /usuarios/{userId}/favoritos/{eventoId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
